html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Bungee Shade', helvetica, arial, sans-serif;
}

#game-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../images/scene.jpg') top center no-repeat;
    background-size: contain;
}

#game-player {
    position: absolute;
    width: 100px;
    height: 110px;
    background: url('../images/pocoyo.png') no-repeat;
    background-size: 100%;
    transition: transform .5s;
}

.game-ball {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
    transition: transform .5s, opacity .5s;
    box-shadow: inset -3px -3px 5px rgba(0, 0, 0, .2);
}

#game-message {
    position: absolute;
    top: 15%;
    left: 20px;
    right: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    color: #4466cc;
    font-size: 50px;
    text-align: center;
}

#game-restart,
#game-restart:visited {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 15px;
    background: #f6f6f6;
    border-radius: 5px;
    color: #ff4400;
    font-size: 20px;
    text-decoration: none;
}

#game-restart:focus,
#game-restart:active {
    text-decoration: none;
}
